<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
data-header-color='white'
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-40 text-[40px] font-medium">Kuga</h2>
    <p class="text-white text-sm underline">Concertar una prueba de conducción</p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-24">
      <div class="gap-x-4">
        <a class="border-[3px] border-white bg-white/5 blackdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" 
        href="#">
          Explorar inventario
        </a>
        <a class="border-[3px] border-white bg-white/5 blackdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" 
        href="#">
          Personalizar Coche
        </a>
      </div>
    </footer>
  </div>


  <div class="filter opacity-60 absolute top-0 h-full w-full z-10" >
    <img src='/kuga2.jpeg' alt='Match-e' class='h-full w-full object-cover object-center'>
  </div>

</section>