---
import Logo2 from "../components/Logo2.astro";
---
<header 
id="landing-header"
class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white">
  <div 
  class="flex flex-grow basis-0">
    <Logo2 />
    
  </div>
  <nav>
    <ul class=" menu [&>li>a]:font-medium [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
      <li><a href="#">Match-e</a></li>
      <li><a href="#">Explorer</a></li>
      <li><a href="#">Puma</a></li>
      <li><a href="#">Kuga</a></li>
      <li><a href="#">Focus</a></li>
      <li><a href="#">Fiesta</a></li>
    </ul>
    <a href="nav"></a>
  </nav>

  <nav class="flex flex-grow justify-end basis-0">
    <ul class="[&>li>a]:font-medium [&>li>a]:text-current flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
      <li><a href="#">Concesionario</a></li>
      <li><a href="#">Tienda</a></li>
      <li><a href="#">Cuenta</a></li>
      <li><a href="#">Menu</a></li>
    </ul>
  </nav>
  <div class="md:hidden cursor-pointer">
    <button onclick="toggleMenu()" class="text-2xl focus:outline-none">&#8801;</button>
</div>

<div
id="menu-backdrop" class="absolute bg-white/5 blackdrop-blur-lg rounded left-[var(--left)] top-[var(--top)] w-[var(--width)] h-[var(--height)] transition-all duration-300 ease-in-out opacity-0 -z-10"/>

</header>



<script>
  const listItem = document.querySelectorAll('#landing-header li')
  const menuBackdrop = document.querySelector('#menu-backdrop') as HTMLElement
  
  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect()
      const { clientHeight, clientWidth } = item
      menuBackdrop.style.setProperty("--left", `${left}px`)
      menuBackdrop.style.setProperty("--top", `${top}px`)
      menuBackdrop.style.setProperty("--width", `${width}px`)
      menuBackdrop.style.setProperty("--height", `${height}px`)
  
      menuBackdrop.style.opacity = "1"
      menuBackdrop.style.visibility = "visible"
    })
    
    item.addEventListener("mouseleave", () => {
      menuBackdrop.style.opacity = "0"
      menuBackdrop.style.visibility = "hidden"
    })
  })
  </script>
  


<script>
  const $header = document.querySelector('#landing-header') as HTMLElement;
  const observerOptions = {
    root: null, 
    rootMargin: '0px',
    threshold: 0.90
  };

  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      const { isIntersecting } = entry;
      if (isIntersecting) {
        const color = entry.target.getAttribute('data-header-color');
        $header.style.color = color;
      }
    });
  }, observerOptions);

  const $sections = document.querySelectorAll(".landing-section");
  $sections.forEach((section) => observer.observe(section));
</script>
